body{
    margin:0;
    padding: 0;
}

.calculator{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.calculator__log{
    width: 300px;
    display: flex;    
}

.calculator__log__operation{
    width: 300px;
    height: 100%;    
}

.calculator__log__result{
    width: 300px;
    height: 100%;    
}

.calculator__button_log{
    width: px;
    height: 20px;
}

.chet{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    width: 500px;
}

.chet__my_message{
    width: 250px;
    display: flex;
    flex-direction:column-reverse;
    background-color: aqua;
    justify-self: end;
    

}

.chet__noMy_message{
    width: 250px;
    display: flex;
    flex-direction:column-reverse ;
    background-color: aquamarine;
    justify-self: end;
}